@use './cores/cores' as *;

@use './arvore/avore' as *;

@use './pedra/pedra' as *;

@use './desktop/hotbar/hotbar' as *;
@use './desktop/desktop' as *;
@use './desktop/inventario/inventario' as *;
@use './desktop/table2x2/table2x2' as *;

@use './hud/infos/fome' as *;
@use './hud/infos/vida' as *;
@use './hud/infos' as *;

@use './pixeis/pixel' as *;

@use './player/player' as *;

@use './itens/pixel-itens' as *;

@use './itens/madeira/cores-madeira' as *;
@use './itens/picareta/cores-picareta' as *;
@use './itens/pedra-m/cores-pedra-m' as *;


@use './itens/diamante/cores-diamante' as *;
@use './itens/ferro/cores-ferro' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    display: flex;
    background-color: rgba(9, 68, 1, 0.87);
}
