.branco {
  background-color: white;
  z-index: 2;
}

.preto {
  background-color: black;
  z-index: 2;
}

.cinza-claro {
  background-color: rgb(150, 150, 150);
  z-index: 2;
}

.cinza {
  background-color: rgb(112, 112, 112);
  z-index: 2;
}

.cinza-escuro {
  background-color: rgb(44, 44, 44);
  z-index: 2;
}

.vermelho-efeito {
  background-color: rgba(255, 0, 0, 0.678);
}

.arvore {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 3px);
  border: 1px solid red;
}

.folhac {
  background: #17b303;
  z-index: 4;
}

.folhas {
  background: #062901;
}

.tronco {
  background: #241901;
}

.pedra {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 3px);
  border: 1px solid red;
}

.diamante {
  background-color: #00e5ff;
  z-index: 2;
}

.pedra-m {
  background-color: rgb(150, 150, 150);
  z-index: 2;
}

.ferro {
  background-color: #ffffff;
  z-index: 2;
}

.ouro {
  background-color: #ffd700;
  z-index: 2;
}

.carvao {
  background-color: #1a1a1a;
  z-index: 2;
}

.rubi {
  background-color: #e0002a;
  z-index: 2;
}

.obamium {
  background-color: #7b2cff;
  z-index: 2;
}

.esmeralda {
  background-color: #00c853;
  z-index: 2;
}

.prata {
  background-color: #c0c0c0;
  z-index: 2;
}

#hotbar {
  position: fixed;
  z-index: 100;
  display: grid;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: 40px;
}

.pixel-hotbar {
  width: 40px;
  height: 40px;
}

.selecionado {
  border: 1px solid wheat;
}

.desktop {
  position: fixed;
  display: flex;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.table2x2,
.hotbar,
.inventario {
  display: none;
  grid-template-columns: repeat(9, 20px);
  grid-template-rows: repeat(4, 20px);
  border: 3px solid #000;
  background-color: rgba(0, 0, 0, 0.6588235294);
  gap: 1px;
  padding: 2px;
}

.pixel-inv {
  width: 20px;
  height: 20px;
}

#table2x2 {
  width: 50px;
  grid-template-columns: repeat(2, 20px);
  grid-template-rows: repeat(2, 20px);
}

.fome {
  display: flex;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4666666667);
  left: 10px;
  bottom: 0px;
  justify-content: left;
  align-items: left;
  padding: 1px;
  border: 2px solid #000;
}

.vida {
  display: flex;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4666666667);
  left: 10px;
  bottom: 10px;
  justify-content: left;
  align-items: left;
  padding: 1px;
  border: 2px solid #000;
}

.infos {
  position: fixed;
  display: flex;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  flex-direction: column;
  gap: 5px;
}

.pixel {
  width: 3px;
  height: 3px;
}

.boneco {
  display: grid;
  grid-template-columns: repeat(10, 3px);
  position: absolute;
}

.pele {
  background: #f2b36f;
  z-index: 3;
}

.cabelo {
  background: #4b2a18;
  z-index: 3;
}

.roupa {
  background: #2979ff;
  z-index: 3;
}

.calca {
  background: #333;
}

.sapato {
  background: #111;
}

.olho {
  background: #000;
  z-index: 3;
}

.nada {
  background: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0px;
  height: 100vh;
  display: flex;
  background-color: rgba(9, 68, 1, 0.87);
}/*# sourceMappingURL=index.css.map */