.pedra {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 3px);
    border: 1px solid red;
}
.diamante {
    background-color: #00e5ff;
    z-index: 2;
}
.pedra-m {
    background-color: rgb(150, 150, 150);
    z-index: 2;
}
.ferro {
    background-color: #ffffff;
    z-index: 2;
}

.ouro {
    background-color: #ffd700;
    z-index: 2;
}

.carvao {
    background-color: #1a1a1a;
    z-index: 2;
}

.rubi {
    background-color: #e0002a;
    z-index: 2;
}

.obamium {
    background-color: #7b2cff;
    z-index: 2;
}

.esmeralda {
    background-color: #00c853;
    z-index: 2;
}

.prata {
    background-color: #c0c0c0;
    z-index: 2;
}