.arvore {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 3px);
    border: 1px solid red;
}

.folhac {
    background: #17b303;
    z-index: 4;
}
.folhas {
    background: #062901;
}
.tronco {
    background: #241901;
}