
#hotbar {
    position: fixed;
    z-index: 100;
    display: grid;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    grid-template-columns: repeat(8, 40px);
    grid-template-rows: 40px;
}
.pixel-hotbar {
    width: 40px;
    height: 40px;
}
.selecionado{
    border: 1px solid wheat;
}