.branco{
    background-color: white;
    z-index: 2;
}
.preto{
    background-color: black;
    z-index: 2;
}
.cinza-claro{
    background-color: rgb(150, 150, 150);
    z-index: 2;
}
.cinza{
    background-color: rgb(112, 112, 112);
    z-index: 2;
}
.cinza-escuro{
    background-color: rgb(44, 44, 44);;
    z-index: 2;
}