.picareta-madeira {
    background-color: rgb(51, 25, 8);
}

.picareta-pedra {
    background-color: grey;
}
   
.picareta-prata {
    background-color: rgb(197, 197, 197);
}
  
.picareta-ferro {
    background-color: white;
}

.picareta-ouro {
    background-color: yellow;
}

.picareta-diamante {
    background-color: rgb(3, 104, 255);
}

.picareta-esmeralda {
    background-color: rgb(1, 194, 1);
}

.picareta-rubi {
    background-color: rgb(243, 52, 52);
}

.picareta-obamium {
    background-color: purple;
}

.picareta-cabo {
    background-color: rgb(97, 61, 4);
}

.picareta-cabo-claro {
    background-color: rgb(109, 73, 6);
}