.vida{
    display: flex;
    z-index: 100;
    background-color: #00000077;
    left: 10px;
    bottom: 10px;
    justify-content: left;
    align-items: left;
    padding: 1px;
    border: 2px solid #000
}