.minerio-preto{
    background-color: black;
}
.minerio-prata {
    background-color: rgb(197, 197, 197);
}
  
.minerio-ferro {
    background-color: white;
}

.minerio-ouro {
    background-color: yellow;
}

.minerio-diamante {
    background-color: rgb(3, 104, 255);
}

.minerio-esmeralda {
    background-color: rgb(1, 194, 1);
}

.minerio-rubi {
    background-color: rgb(243, 52, 52);
}

.minerio-obamium {
    background-color: purple;
}

.minerio-carvao {
    background-color: rgb(0, 0, 0);
}